<% section "sessions new" %>

<% semantic_form_for :session, :url => session_path do |form| %>
  <h2>Friends of GR Parks - Sign in</h2>

  <fieldset>
    <div class="form_item">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="form_item">
      <%= form.label :password %>
      <%= form.password_field :password %>
      <%= link_to "Forgot password?", new_password_path %>
    </div>
  </fieldset>
  
  <div class="buttons">
    <%= form.submit "Sign in" %> or  <%= link_to "Sign up", new_user_path %>
  </div>
<% end %>

