<% form_for(park) do |f| %>
  <%= f.error_messages %>

	<div class='left'>
    <%= f.label :name %>
	</div>
	<div class='right'>
    <%= f.text_field :name, :class => 'textbox' %>
	</div>
	<div class='clear'></div>

	<div class='left'>
    <%= f.label :history %>
	</div>
	<div class='right'>
	  <%= f.text_area :history, :class => 'tinymce' %>
	</div>
	<div class='clear'></div>
	<div class='left'>
    <%= f.label :park_size %>
	</div>
	<div class='right'>
    <%= f.text_field :park_size, :class => 'textbox' %>
    Enter the park size in acres
	</div>
	<div class='clear'></div>
	<div class='left'>
    <%= f.label :contact_info %>
	</div>
	<div class='right'>
    <%= f.text_area :contact_info, :class => 'tinymce' %>
	</div>
	<div class='clear'></div>

	<div class='left'>
		<%= f.label :vimeo_embed %>
	</div>
  <div class='right'>
    <%= f.text_area :vimeo_embed, :class => 'textbox' %>
    Copy and the paste the embed tag for your video
  </div>

	<div class='left'>
		<%= f.label :flickr_pool_id, "Flickr pool id" %>
	</div>
  <div class='right'>
    <%= f.text_field :flickr_pool_id, :class => 'textbox' %>
  </div>

	<div class='left'>
		<%= f.label :address %>
	</div>
	<div class='right'>
		<div class='left'>
			<%= f.text_field :address	, :class => 'textbox address' %>
			<%= f.hidden_field :latitude, :class => 'textbox latitude' %>
			<%= f.hidden_field :longitude, :class => 'textbox longitude' %>
			<a class='update-address' href="#">Update</a>
			<div class='message'></div>
		</div>
		<div class='right'>
			<div id="admin-map">
			</div>
		</div>
	</div>
	<div class='clear'></div>


  <div class="amenities">
    <% park.park_amenities.build if park.park_amenities.empty? %>
    <% f.fields_for_with_template :park_amenities do |a| %>
      <div class="amenity">
        <%= a.hidden_field :_delete, :value => 0 %>
        <div class='left'>
          <%= a.label :amenity_id, "Amenity" %>
        </div>
        <div class='right'>
          <%= a.collection_select :amenity_id, Amenity.all, :id, :name, :include_blank => true %>
        </div>
        <div class='clear'></div>
        <div class='left'>
          <%= a.label :description, "Amenity description" %>
        </div>
        <div class='right'>
          <%= a.text_field :description %>
          <%= link_to "Delete", "#", :class => 'delete' %>
        </div>
        <div class='clear'></div>
    </div>
    <% end %>

  </div>
  <%= link_to "Add amenity", "#", :class => 'add_amenity' %>


  <% if park.new_record? %>
    <%= f.submit 'Create' %>
  <% else %>
    <%= f.submit 'Update' %>
  <% end %>
<% end %>
