<% form_for park, :html => { :class => "park" } do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <h4>Basic Park Info</h4>
    <p class="notes">...</p>

    <div class="form_item">
      <%= f.label :name %> 
      <%= f.text_field :name, :class => 'textbox name' %>
    </div>

    <div class="form_item">
      <%= f.label :park_size %> 
      <%= f.text_field :park_size, :class => 'parksize textbox' %>
    </div>

    <div class="form_item">
      <%= f.label :section, "City section" %> 
      <%= f.select :section, Park::SECTIONS %>
    </div>

    <div class="form_item">
      <%= f.label :history %> 
      <%= f.text_area :history, :class => 'tinymce history' %>
    </div>

  </fieldset>
  
  <fieldset>
    <h4>Park Contact Info</h4>
    <p class="notes">...</p>
    <div class="form_item">
      <%= f.label :contact_info %>
      <%= f.text_area :contact_info, :class => 'tinymce contactinfo' %>
    </div>
  </fieldset>

  <fieldset class="location">
    <h4>Map It!</h4>
    <p class="notes">...</p>

    <div class="form_item">
      <%= f.label :address %>
      <%= f.text_field :address, :class => 'textbox address' %>
      <a class='update-address' href="#">Map it from address</a>
    </div>

    <div class='form_item latlng'>
      <%= f.label :latitude, "Latitude:" %>
      <%= f.text_field :latitude, :class => 'textbox latitude', :size => 8 %>
      <%= f.label :longitude, "Longitude:", :class => "longitude" %>
      <%= f.text_field :longitude, :class => 'textbox longitude', :size => 8 %>
      <a class='update-map' href="#">Map it from lat/lng</a>
    </div>

    <div class='message'></div>
    <div class="admin-map"></div>
    
  </fieldset>

  <fieldset class="video">
    <h4>Video</h4>
    <p class="notes">Copy and the paste the embed tag for your video</p>
    
    <div class="form_item">
      <%= f.label :vimeo_embed %>
      <%= f.text_area :vimeo_embed, :class => 'textbox vimeoembed' %>
    </div>
  </fieldset>

  <fieldset>
    <h4>Flickr</h4>
    <p class="notes">
      To find your group pool id, go to <%= link_to "idGetter", "http://idgettr.com/" %>
      and enter your group's URL, then copy and paste the id it returns here. Example id: 89888984@N00
    </p>
    <div class="form_item">
      <%= f.label :flickr_pool_id, "Flickr pool id" %>
      <%= f.text_field :flickr_pool_id, :class => 'textbox' %>
    </div>
  </fieldset>

  <fieldset>
    <h4>Amenities</h4>
    <p class="notes">...</p>

    <div class='amenities'>
      <% park.park_amenities.build if park.park_amenities.empty? %>
      <% f.fields_for_with_template :park_amenities do |a| %>
        <div class="amenity">
          <%= a.hidden_field :_delete, :value => 0 %>
          <%= a.label :amenity_id, "Amenity" %>
          <%= a.collection_select :amenity_id, Amenity.all, :id, :name, :include_blank => true %>
          <%= a.label :description, "Amenity description" %>
          <%= a.text_field :description %>
          <%= link_to "Remove", "#", :class => 'delete' %>
        </div>
      <% end %>
    </div>
    <%= link_to "Add another amenity", "#", :class => 'add_amenity' %>
  </fieldset>

  <fieldset>
    <h4>Resource Links</h4>
    <p class="notes">...</p>
  </fieldset>
  
  <% if park.new_record? %>
    <%= f.submit 'Create' %>
  <% else %>
    <%= f.submit 'Update' %>
  <% end %>
<% end %>
