<% form_for(park) do |f| %>
  <%= f.error_messages %>

	<div class='left'>
    <%= f.label :name %>
	</div>
	<div class='right'>
    <%= f.text_field :name, :class => 'textbox' %>
	</div>
	<div class='clear'></div>

	<div class='left'>
    <%= f.label :history %>
	</div>
	<div class='right'>
	  <%= f.text_area :history, :class => 'tinymce' %>
	</div>
	<div class='clear'></div>
	<div class='left'>
    <%= f.label :park_size %>
	</div>
	<div class='right'>
    <%= f.text_field :park_size, :class => 'textbox' %>
    Enter the park size in acres
	</div>
	<div class='clear'></div>
	<div class='left'>
    <%= f.label :contact_info %>
	</div>
	<div class='right'>
    <%= f.text_area :contact_info, :class => 'tinymce' %>
	</div>
	<div class='clear'></div>

	<div class='left'>
		<%= f.label :vimeo_embed %>
	</div>
	<div class='right'>
	  <%= f.text_area :vimeo_embed, :class => 'textbox' %>
	  Copy and the paste the embed tag for your video
	</div>
	<div class='left'>
		<%= f.label :address %>
	</div>
	<div class='right'>
	  <%= f.text_field :address, :class => 'textbox' %>
		<a id="park-address-update" href="javascript:void();">Update</a>
	</div>
	<div class='clear'></div>
	<div class='left'>
		<%= f.label :latitude %>
	</div>
	<div class='right'>
    <%= f.text_field :latitude, :class => 'textbox' %>
		<a id="park-address-update" href="javascript:void();">Update</a>
	</div>
	<div class='left'>
		<%= f.label :longitude %>
	</div>
	<div class='right'>
    <%= f.text_field :longitude, :class => 'textbox' %>
		<a id="park-address-update" href="javascript:void();">Update</a>
	</div>
	<div id="park-map">
	</div>

  <div class="amenity_list">
    <% park.park_amenities.build if park.park_amenities.empty? %>
    <% f.fields_for :park_amenities do |a| %>
      <div class='left'>
        <%= a.label :amenity_id, "Amenity" %>
      </div>
      <div class='right'>
        <%= a.collection_select :amenity_id, Amenity.all, :id, :name, :include_blank => true %>
      </div>
      <div class='clear'></div>
      <div class='left'>
        <%= a.label :description, "Amenity description" %>
      </div>
      <div class='right'>
        <%= a.text_field :description %>
      </div>
      <div class='clear'></div>
    <% end %>

  </div>


  <% if park.new_record? %>
    <%= f.submit 'Create' %>
  <% else %>
    <%= f.submit 'Update' %>
  <% end %>
<% end %>
