<% form_for(@park) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :history %><br />
    <%= f.text_area :history, :class => 'tinymce' %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :contact_info %><br />
    <%= f.text_area :contact_info, :class => 'tinymce' %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
