<% form_for(park) do |f| %>
  <%= f.error_messages %>

	<div class='section'>
		<div class='grid_3'>
	    <%= f.label :name %>
		</div>
		<div class='grid_13'>
	    <%= f.text_field :name, :class => 'textbox name' %>
		</div>
	</div>

	<div class='section'>
		<div class='grid_3'>
	    <%= f.label :park_size %>
		</div>
		<div class='grid_13'>
	    <%= f.text_field :park_size, :class => 'textbox parksize' %>
	    Enter the park size in acres
		</div>
	</div>
	
  <div class='section'>
	  <div class='grid_3'>
      <%= f.label :section, "City section" %>
	  </div>
	  <div class='grid_13'>
	    <%= f.select :section, Park::SECTIONS %>
	  </div>
	  <div class='clear'></div>
  </div>
	
	<div class='section'>
		<div class='grid_3'>
			<%= f.label :address %>
		</div>
		<div class='grid_13'>
		    <%= f.text_field :address	, :class => 'textbox address' %>
			<%= f.hidden_field :latitude, :class => 'textbox latitude' %>
			<%= f.hidden_field :longitude, :class => 'textbox longitude' %>
			<a class='update-address' href="#">Update</a>
			<div class='message'></div>
		    <div id="admin-map">
			</div>
		</div>
	</div>
	
	<div class='section'>
		<div class='grid_3'>
	    <%= f.label :history %>
		</div>
		<div class='grid_13'>
		  <%= f.text_area :history, :class => 'tinymce history' %>
		</div>
	</div>
	
	<div class='section'>
		<div class='grid_3'>
	    <%= f.label :contact_info %>
		</div>
		<div class='grid_13'>
	    <%= f.text_area :contact_info, :class => 'tinymce contactinfo' %>
		</div>
	</div>

	<div class='section'>
		<div class='grid_3'>
			<%= f.label :vimeo_embed %>
		</div>
		<div class='grid_13'>
    		  <%= f.text_area :vimeo_embed, :class => 'textbox vimeoembed' %>
		  Copy and the paste the embed tag for your video
		</div>
	</div>
  <div class='section'>
      <div class='grid_3'>
          <%= f.label :flickr_pool_id, "Flickr pool id" %>
      </div>
      <div class='grid_13'>
          <%= f.text_field :flickr_pool_id, :class => 'textbox' %>
      </div>
  </div>
  <div class='section'>
    <% park.park_amenities.build if park.park_amenities.empty? %>
    <% f.fields_for_with_template :park_amenities do |a| %>
      <div class="amenity">
        <%= a.hidden_field :_delete, :value => 0 %>
        <div class='left'>
          <%= a.label :amenity_id, "Amenity" %>
        </div>
        <div class='right'>
          <%= a.collection_select :amenity_id, Amenity.all, :id, :name, :include_blank => true %>
        </div>
        <div class='clear'></div>
        <div class='left'>
          <%= a.label :description, "Amenity description" %>
        </div>
        <div class='right'>
          <%= a.text_field :description %>
          <%= link_to "Delete", "#", :class => 'delete' %>
        </div>
        <div class='clear'></div>
    </div>
    <% end %>
  </div>
  <div class="amenities">
    

  </div>
  <%= link_to "Add amenity", "#", :class => 'add_amenity' %>


  <% if park.new_record? %>
    <%= f.submit 'Create' %>
  <% else %>
    <%= f.submit 'Update' %>
  <% end %>
<% end %>
