<h1>Editing park</h1>

<%= render :partial => 'form' %>

<%= link_to 'Show', @park %> |
<%= link_to 'Back', parks_path %>

<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "tiny_mce/jquery.tinymce.js" %>
<%= javascript_include_tag "tiny_mce/tiny_mce_config.js" %>
