<% section "admin parks index" %>

<div class="actions">
<%= link_to 'Add a new park', new_park_path %>
</div>

<h4>Parks</h4>

<ul class="parks">
<% if @parks.empty? %>
  <li class="no_parks">There are no parks</li>
<% else %>
  <% reset_cycle %>
  <% @parks.each do |park| %>
    <li class="park <%= cycle('odd', 'even') %>">
      <div class="actions">
        <%= link_to 'Links', park_links_path(park) %> |
        <%= link_to "Edit", edit_park_path(park) %> |
        <%= link_to "Delete", park_path(park), :method => "delete", :confirm => "Are you sure you want to delete #{park.name}?" %>
      </div>
      <span class="name">
        <%= park.name %>
      </span>
    </li>
  <% end %>
<% end %>
</ul>


