<div class='park'>
  <p class='name'>
    <b>Name:</b>
    <%=h @park.name %>
  </p>

  <p class='address'>
    <b>Address:</b>
    <%=h @park.address %>
  </p>
  
  <p class='park_size'>
    <b>Park size:</b>
    <%=h @park.park_size %>
  </p>
  
  <p class='history'>
    <b>History:</b>
    <%=h @park.history %>
  </p>
  
  <p class='contact_info'>
    <b>Contact info:</b>
    <%=h @park.contact_info %>
  </p>
</div>


<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
