<fieldset>
  <div class="form_item" >
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="form_item" >
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="form_item" >
    <%= form.label :password_confirmation, "Confirm Pwd" %>
    <%= form.password_field :password_confirmation %>
  </div>
</fieldset>
