<% section "admin users index" %>

<% form_for @user, :html => { :class => "user" } do |form| %>
  <h4>Add New User</h4>
  <%= form.error_messages %>
  <p class="notes">Adding an user here will send them an email to confirm their account. Once confirmed they'll be able to log in.</p>
  <%= render :partial => "users/form_fields", :locals => { :form => form } %>
  <%= form.submit "Add User" %>
<% end %>

<h4>Users</h4>
<ul class="users">
<% if @users.empty? %>
  <li class="no_users">There are no users</li>
<% else %>
  <% reset_cycle %>
  <% @users.each do |user| %>
    <li class="user <%= cycle('odd', 'even') %>">
      <div class="actions">
        <%= link_to "Edit", edit_user_path(user) %>
        <%= link_to "Delete", user_path(user), :method => "delete", :confirm => "Are you sure you want to delete #{user.email}?" %>
      </div>
      <span class="email">
        <%= user.email %>
      </span>
    </li>
  <% end %>
<% end %>
</ul>
