<%= image_tag("logo.jpg") %>
<ul class='top-nav'>
	<li><%= link_to "home", "http://friendsofgrparks.org/" %></li>
	<li><%= link_to "about", "http://friendsofgrparks.org/about" %></li>
	<li class='active'><%= link_to "explore", root_path %>
	<li><%= link_to "be a friend", "http://friendsofgrparks.org/be_a_friend"%></li>
	<li><%= link_to "events", "http://friendsofgrparks.org/events"%></li>
	<li><%= link_to "newsroom", "http://friendsofgrparks.org/newsroom"%></li>
	<li class='last'><%= link_to "contact", "http://friendsofgrparks.org/contact"%></li>
</ul>
<div class='clear'></div>
