<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Parks: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'text' %>
  <%= stylesheet_link_tag '960' %>
  <%= stylesheet_link_tag 'style' %>

  <%= javascript_include_tag :defaults, :combine => "all-admin" %>
</head>
<body class="<%= yield(:section) %>">

<div class='container_16'>
	<div id="header">
		<%= render :partial=>"shared/header" %>
	</div>
	<div id="main">
    <!-- 
		<div id="admin-toolbar">
			<ul>
				<li><a href="#basic">Basic Info</a></li>
				<li><a href="#amenities">Amenities</a></li>
				<li><a href="#flickr">Flickr</a></li>
				<li><a href="#vimeo">Vimeo</a></li>
			</ul>
		</div>
		<div class='clear'></div>
    -->
    
    <%= flash_messages %>

    <%= yield %>
  </div>
</div>
</body>
</html>
