<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Parks: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'text' %>
  <%= stylesheet_link_tag '960' %>
  <%= stylesheet_link_tag 'style' %>

	<%= javascript_include_tag "jquery","jquery.expand","jquery.innerfade", "application", "tiny_mce/tiny_mce","tiny_mce/jquery.tinymce", "tiny_mce/tiny_mce_config.js", "admin","search", :cache => "admin" %>
	
  <script type="text/javascript" src="http://www.google.com/jsapi?key=<%= APP_CONFIG['gmaps_key'] %>"></script>
	<script type="text/javascript">
		google.load("maps", "2");
	</script>
	
</head>
<body class="<%= yield(:section) %>">
  
<div class="admin_notice">
  <%= link_to "logout", logout_path, :method => :delete, :class => "logout" %>

  You are currently logged in as an admin. You can click
  <%= link_to "here", "http://friendsofgrparks.org/"%>
  to go back to the public site.
</div>

<div class='container_16'>
	<div id="header">
		<%= render :partial=>"shared/admin_header" %>
	</div>
	<div id="main">
    <%= flash_messages %>

    <%= yield %>
  </div>
</div>
</body>
</html>
