 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Parks: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'text' %>
  <%= stylesheet_link_tag '960' %>
  <%= stylesheet_link_tag 'style' %>

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "tiny_mce/jquery.tinymce.js" %>
  <%= javascript_include_tag "tiny_mce/tiny_mce_config.js" %>
  <%= javascript_include_tag "application" %>
</head>
<body class="<%= yield(:section) %>">

<div class='container_16'>
	<div id="header">
		<h1>Friends of Grand Rapids Parks</h1>
	</div>
	<div id="main">
    <%= flash_messages %>

    <%= yield %>
  </div>
</div>
</body>
</html>
